@import 'tailwindcss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('ttf');
}

@theme {
  --font-roboto: 'Roboto', sans-serif;

  --text-roboto-medium: 0.875rem;
  --text-roboto-medium--leading: 1.25rem;
  --text-roboto-medium--font-weight: 500;
  --text-roboto-medium--letter-spacing: 0.0156rem;
}

@theme {
  --color-google-button: #f2f2f2;
}
